@charset "UTF-8"
/* Regra @charset caso haja problemas cm acentuação */

body {
    font-family: Arial, Helvetica, sans-serif;
    
}
h1 {
   color: blue;
}
h2 {
   color: brown; 
}
p {
    text-align: justify;
}