@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body {
    background-image: linear-gradient(to right, #D8B08C, #FFCB9A);
}
main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(89, 107, 101, 0.896);
}
h1 {
    color: #0F6466;
    text-align: center;
    text-shadow: 1px 1px 2px #0731335b;
}
h2 {color: #83908d;

}
p {
    text-align: justify;
}